/.git
/.github
/.husky
/.idea
/.vscode
/bootstrap/cache/*.php
/coverage
/node_modules
/public/build
/public/hot
/public/storage
/public/vendor
/storage/*.key
/storage/app/*
/storage/clockwork
/storage/debugbar
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/vendor
_ide_helper_models.php
_ide_helper.php
.bladeignore
.dockerignore
.DS_Store
.editorconfig
.env
.env.example
.gitattributes
.gitignore
.nvmrc
.php_cs.cache
.php-cs-fixer.dist.php
.php-cs-fixer.cache
.phpactor.json
.phpstorm.meta.php
.phpunit.cache
.phpunit.result.cache
.valetrc
.version
docker-compose.yml
Dockerfile
