/* @import '../../vendor/filament/filament/resources/css/app.css'; */

@import '../../vendor/filament/filament/resources/css/theme.css';
@import './calendar.css';
/* @import '/vendor/awcodes/filament-table-repeater/resources/css/plugin.css'; */

@config '../../tailwind.config.js';
