@import '../../vendor/filament/filament/resources/css/theme.css';

@source '../../app/Filament';
@source '../../resources/views/filament';
@source '../../resources/views';


@layer components {
    .fi-wi-stats-overview-stat {
        @apply h-full;
    }
}
