@import '../../vendor/filament/filament/resources/css/theme.css';
@import './calendar.css';

@config '../../tailwind.config.js';


/* .fi-topbar {
    nav {
        @apply !text-white !bg-primary-900;


        .fi-topbar-item-label {
            @apply text-white;
        }
    }
} */
