:root {
    --fc-event-text-color: theme(colors.black);
    --fc-small-font-size: theme(fontSize.xs);
    --fc-event-bg-color: theme(colors.gray.50);
}

.fc-toolbar-chunk {
    @apply space-y-1;
}

.fc-toolbar-title {
    @apply !text-lg leading-5 md:!text-3xl;
}

.filament-fullcalendar--calendar.fc .fc-button {
    @apply transition-colors outline-none rounded-lg font-medium text-sm text-white min-h-[2.25rem] px-[6px] md:px-4 py-1 shadow;
}

.filament-fullcalendar--calendar.fc .fc-button-primary {
    @apply bg-primary-600 border-primary-600;
}
.filament-fullcalendar--calendar.fc .fc-daygrid-day-top {
    @apply pt-px pr-px mt-px mr-px;
}

.filament-fullcalendar--calendar.fc .fc-daygrid-day-number {
    @apply inline-flex items-center justify-center w-6 h-6 p-0 text-sm rounded-full;
}

.filament-fullcalendar--calendar.fc .fc-button-primary:hover {
    @apply bg-primary-500 border-primary-600;
}

.filament-fullcalendar--calendar.fc .fc-button-primary:disabled {
    @apply bg-primary-600 opacity-70 border-primary-600;
}

.filament-fullcalendar--calendar.fc .fc-button-primary:not(:disabled).fc-button-active, .filament-fullcalendar--calendar.fc .fc-button-primary:not(:disabled):active {
    @apply shadow-none bg-primary-500 border-primary-600;
}

.filament-fullcalendar--calendar.fc .fc-button-primary:focus, .filament-fullcalendar--calendar.fc .fc-button-primary:not(:disabled):focus, .filament-fullcalendar--calendar.fc .fc-button-primary:not(:disabled).fc-button-active:focus, .filament-fullcalendar--calendar.fc .fc-button-primary:not(:disabled):active:focus {
    @apply shadow-none outline-none bg-primary-700 ring-2 ring-inset ring-offset-2 ring-offset-primary-700 ring-white;
}

.filament-fullcalendar--calendar.fc .fc-daygrid-day.fc-day-today {
    @apply bg-inherit;
}

.filament-fullcalendar--calendar.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
    @apply font-bold text-white bg-primary-700;
}

.filament-fullcalendar--calendar.fc .fc-highlight {
    @apply bg-primary-100/25;
}

.fc-event {
    @apply !border-0 !border-l-4 !rounded-none !px-1 !py-1.5;
}

.fc-daygrid-more-link {
    @apply flex items-center justify-center w-full;
    @apply text-xs font-bold text-primary-700;
}

.fc-daygrid-day-frame {
    @apply overflow-hidden;
}

.fc-daygrid-day-events, .fc-popover-body {
    @apply flex flex-col gap-1;
}

.fc-popover {
    @apply !z-10 rounded-lg overflow-hidden;
}

.fc-popover-header {
    @apply !bg-gray-700 leading-5 !text-white !px-2 !py-1.5 text-sm;
}
