name: Tests

on: [push]

jobs:
  test:
    name: PHP ${{ matrix.php-version }}
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "8.4"

    env:
      extensions: mbstring, pdo, pdo_mysql, intl, gd

    services:
      mysql:
        image: mysql:8
        env:
          MYSQL_DATABASE: tests
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
        ports:
          - 3306/tcp
        options: >-
            --health-cmd "mysqladmin ping"
            --health-interval 10s
            --health-timeout 5s
            --health-retries 3

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup cache environment
        id: extcache
        uses: shivammathur/cache-extensions@v1
        with:
          php-version: ${{ matrix.php-version }}
          extensions: ${{ env.extensions }}
          key: php-extensions-cache

      - name: Cache extensions
        uses: actions/cache@v4
        with:
          path: ${{ steps.extcache.outputs.dir }}
          key: ${{ steps.extcache.outputs.key }}
          restore-keys: ${{ steps.extcache.outputs.key }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: ${{ env.extensions }}
          coverage: pcov

      - name: Get composer cache directory
        id: composercache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache composer dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.composercache.outputs.dir }}
          key: dependencies-composer-${{ hashFiles('composer.lock') }}-php-${{ matrix.php-version }}
          restore-keys: dependencies-composer-

      - name: Install composer dependencies
        run: composer install --prefer-dist --no-interaction

      - name: Setup env
        run: |
          cp .env.ci .env
          php artisan key:generate --ansi

      - name: Run tests
        run: php artisan test
        env:
          DB_PORT: ${{ job.services.mysql.ports[3306] }}
